body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.cyan-color{
    color: rgb(207, 60, 68);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(69, 175, 175);
    padding: 10px 10px;
    border-radius: 5px;
}

.continer-box1{
    background-color: rgb(139, 221, 221);
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(196, 176, 176);
}
.continer-box2{
    background-color: rgb(135, 105, 192);
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(196, 176, 176);
}
.continer-box3{
    background-color: rgb(89, 163, 105);
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(196, 176, 176);
}